.jobBox {
    flex-direction: row;
    display: flex;
    place-content: center space-around;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
}

$cardSize: 20em;
.jobCard {
    position: relative;
    box-shadow: 0 2px 5px 0 black;
    width: $cardSize;
    height: $cardSize;
    font-size: 0.8em;
    background-color: #e6f2ff;
}

.jobCardBody {
    margin: 0.5em;
    position: relative;
    text-align: center;
}

.jobBodyBox {
    width: 80%;
    position: absolute;
    left: 50%;
    margin-top: 3rem;
    transform: translate(-50%);
}

.jobCardActive {
    background-color: #66ccff;
}

.cardLogo {
    float: left;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2 !important;
    max-width: ($cardSize * .8);
    max-height: ($cardSize * .8);
    clear: right;
}
