.introHeader {
    text-align: center;
    border: 2px solid lighten(#000, 50%);
    border-radius: 15px !important;
    -moz-border-radius: 15px;
    box-shadow: 0 2px 5px 1px lighten($color: #000000, $amount: 65%) !important;
    padding: 4rem 2rem;
    margin-bottom: 3rem !important;
    background-color: lighten($color: #000000, $amount: 90%);

    h1 {
        text-shadow: grey 3px 6px 5px;
        color: darken($color: grey, $amount: 10%);
    }
    p {
        text-shadow: grey 0 2px 1px;
    }
}

.introMargins {
    margin-left: 5%;
    margin-right: 5%;
}
