.stickyHeader {
    position: sticky;
    margin-right: auto;
    background: grey;
    border-radius: 0.5em;
    top: 65px;
    z-index: +1;
    & > * {
      padding: 0.5em;
    }
}

.logo {
    position: absolute;
    width: 150px;
    top: 1rem;
    left: 1rem;
    float: left;
    opacity: 0.15;
    z-index: -1;
}

.positionHeader {
    position: relative;
    margin-bottom: 2em;
}
.jobs {
    text-align: left;
}

.company {
    font-weight: bolder;
    font-size: 1.2rem;
}

.daterange {
    font-style: italic;
}

.daterange, .title {
    font-size: 0.9em;
    text-shadow: 2px 2px 2px grey;
}

.job, .achievement {
    list-style: circle;
    margin-top: 1rem;
    // margin-bottom: 0.5rem;
}

.jobSkills {
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 0.9rem;
    font-weight: bold;
}

.jobSkill {
    // display: inline;
    display: inline-block;
    list-style: none;
    font-weight: normal;
    margin-right: 2em;
    font-size: 0.8rem;
    text-shadow: 2px 2px 2px grey;

    &.category {
        display: block;
        margin-left: -1em;
        font-weight: bolder;
        width: 20rem;
    }
}

