.skillListCategoryName {
    font-size: 1em;
    font-weight: bold;
    margin-left: 2rem;
}

.skillListSkillBox {
    display: grid;
    grid-gap: 1rem;
    margin-left: 5%;
    grid-auto-rows: 4em;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    margin-bottom: 2rem;
}

.skillListSkillItem {
    display: flex;
    font-family: Raleway, sans-serif;
    flex-direction: column;
    column-gap: 0px;
    box-shadow: 0 2px 5px 0 black;
    background-color: desaturate($color: lightblue, $amount: 25%);
    justify-items: center;
    align-items: center;

    * {
        box-shadow: none;
        flex-grow: 0;
    }

    &.spacer {
        flex-grow: 1;
    }

    &.itemName {
        font-size: .8rem;
    }

    &.byLine {
        font-weight: normal;
        font-style: italic;
        font-size: 0.7rem;
        color: lighten(#000000, 40%);
    }
}