.byline {
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: 12em;
    margin-right: 12em;
}

$animationTime: 750ms;
$animationSize: 100px;

.fade-enter {
    animation: coming $animationTime;
    opacity: 0;
}

.fade-exit {
    opacity: 1;
    animation: going $animationTime;
}

@keyframes going {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY($animationSize);
        opacity: 0;
    }
}

@keyframes coming {
    from {
        transform: translateY(0 - $animationSize);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

